.welcome {
  max-width: 500px;
  margin: 48px auto;
  padding: 48px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 15px;
  text-align: center;
}

.welcome__api-url {
  font-weight: bold;
}
